@import '../variables';

$ticker-progress-bar-height: 1rem;

.ticker {
  p {
    &.title {
      font-weight: bold;
    }

    margin: 0;
    width: 20rem;
  }

  &-message-body {
    clip-path: rect(
      0 0,
      100% 0,
      100% 100%,
      0 100%);
  }

  &-message {
    &.animate {
      padding-bottom: $ticker-progress-bar-height;

      svg.ticker-progress-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $ticker-progress-bar-height;

        rect {
          animation-timing-function: linear;
          animation-name: progress;
          height: $ticker-progress-bar-height;
          // transition: all 0.5s;
        }
      }
    }
  }
}

@keyframes progress {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
