@import '../assets/styles/variables';

.TitleCard {
  p.main,
  p.sub {
    margin-top: 0;
    margin-bottom: 0;
  }

  .main {
    font-size: $block-heading-size;
    font-weight: $block-heading-weight;
  }
}
