$safe-margin: 5vw;
$safe-margin-x: $safe-margin;
$safe-margin-y: $safe-margin * 0.75;

$safe-padding: 2vw;
$safe-padding-x: $safe-padding;
$safe-padding-y: $safe-padding * 0.75;

.app-block {
  // border: solid 1px #f00;

  &.no-aspect-ratio {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: $safe-margin-y $safe-margin-x;
  }

  &.has-aspect-ratio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.App > .safe {
  // border: solid 1px #f00;
  position: absolute;
  left: $safe-padding-x;
  right: $safe-padding-x;
  top: $safe-padding-y;
  bottom: $safe-padding-y;
}
