$base-viewport-width: 1920px;

$base-font-size: 3vh;
$base-font-family: 'Bahnschrift';
$base-font-family-monospace: 'Iosevka';

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body, #root {
  font-size: $base-font-size;
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.align {
  position: absolute;

  &-left { left: 0; }
  &-top { top: 0; }
  &-right { right: 0; }
  &-bottom { bottom: 0; }
}

.aspect {
  &-16-9 {
    width: $base-viewport-width;
    height: $base-viewport-width / (16 / 9);
  }
}
