@import 'variables';

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body, #root {
  font-size: $base-font-size;
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.align {
  position: absolute;

  &-left { left: 0; }
  &-top { top: 0; }
  &-right { right: 0; }
  &-bottom { bottom: 0; }

  &-center {
    &-x {
      left: 50%;
      transform: translateX(-50%);
    }
    &-y {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-center {
    top: 50%;
    left: 50%;
  }
}

.aspect {
  &-16-9 {
    width: $base-viewport-width;
    height: $base-viewport-width / (16 / 9);
  }
}
